*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
    transition: all 1s !important;
}

#toggle {
    display: none;
}

#toggle:checked + div {
    display: block;
}

section {
    height: 100vh;
}

section .contact {
    height: 6vh;
    background-color: rgba(21, 143, 72, 0.023);
}

.container {
    width: 81%;
    margin: auto;
    height: 100%;
}

section .contact  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


section .contact .container .info {
    width: 30%;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


section .contact .container .info div {
    width: fit-content;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .contact .container .info div i {
    font-size: 12px;
    color: #60b97a;
    margin-right: 5px;
}

section .contact .container .info div span {
    font-size: 12px;
    color: black;
}

section .contact .container .icons {
    width: 15%;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .contact .container .icons i {
    color: rgb(104, 103, 103);
    font-size: 14px;
}

section .nav {
    height: 13vh;
}

section .nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .nav .logo {
    width: 10%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#60b97a;
    font-size: 30px;
    font-weight: bold;
}

section .nav .container .menu {
    width: 60%;
    transition: all 1s;
    height: inherit;
    position: static;
}

section .nav .container i {
    font-size: 20px;
    font-weight: bold;
    display: none;
}


section .nav .container i:hover {
    color: #60b97a;
}

section .nav .container .menu ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    font-size: 14px;

}


section .nav .container .menu ul li:first-child{
    color: #60b97a;

}

section .nav .container .menu ul li:last-child{
    padding: 10px 20px;
    border: 2px solid #60b97a;
    border-radius: 4px;
    color: #60b97a;
    font-weight:bold;
    transition: all 0.5s;
    cursor: pointer;
}

section .nav .container .menu ul li:last-child:hover {
    background-color: #60b97a;
    color: white;
}

section .nav .container .menu ul li i {
    font-size: 12px;
}

section .content {
    height: 81vh;
    background-image: url('../images/pexels-quintin-gellar-313782.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: 0;
}

section .content .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1f4e2ecc;
    z-index: -1;
}

section .content .text {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}


section .content .text .container {  
    display: flex;
    align-items: center;
}


section .content .text .container .text-container {
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white;
}


section .content .text .container .text-container p {
    padding: 10px 0;
    
    word-break: break-all;
}

section .content .text .container .text-container  h1
{
    font-size: 35px;
}

section .content .text .container .text-container button {
    padding: 10px 30px;
    width: fit-content;
    border: 0;
    background-color: #60b97a;
    color: white;
    border-radius: 5px;
}

section .white-content {
    min-height: 45vh;
    background-color: rgba(21, 143, 72, 0.023);
}

section .white-content .container {
    display: flex;
    justify-content: space-around;
    gap: 35px;

}


section .white-content .box{
    height: inherit;
    flex-grow: 1;
    display: flex;
    padding-top:3.5%;
    gap: 20px;
    flex-direction: column;
    /* justify-content: space-between; */
}

section .white-content .box i{
    font-size: 35px;
    color: #60b97a;
}


section .white-content .box p {
    word-break: break-all;
}

section .img-container {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;

}


section .img-container #parent{
    height: 50%;
    width: 50%;
    overflow: hidden;
}
section .img-container #parent div{ 
    height: 400px;
    width: auto;
    /* background-color: black; */
    background-image: url('../images/pexels-david-mceachan-71241.jpg');
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
}
section .img-container #parent div:hover {
    transform: scale(50);
}



@media screen and (max-width:1016px) {
    
section .nav .container .menu {
    width: 75%;
}


section .contact .container .info div span {
    display: none;
}

section .contact .container .info {

    width:15%;


}


section .contact .container .icons {
    width: 25%;
}
}


@media screen and (max-width:814px) {
    section .nav .container .menu {
        display: none;
        width: 0;
        position: absolute;
        z-index: 5;
        right: 52%;
        top: 19vh;
        bottom: 0;

        
    transition: all 1s;
    }

    section .nav .container .menu ul{
        flex-direction: column;
        height: 81vh;
        padding: 8vh 0;
        width: 50vw;
        background-color: white;
    }
    
    section .nav .container i {
        display: block;
    }

    section .white-content .container {
        flex-wrap: wrap;
    }

    
    section .white-content .box{
        width: 100%;
    
    }

    
section .white-content .container{
    padding: 5vh 0;
}

}